canvas {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    float: left;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#tpsCounter {
    float: left;
    display: block;
}

body {

    overflow-y: hidden;
}

#mapPoints {
    float: left;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
    padding: 8px;
    height: 592px;
    width: 300px;
    display: none;
}

.mapPointDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.mapCoordinateP {
    width: fit-content;
    float: left;
    font-size: 12px;
}

button {
    display: inline;
    float: right;
}

#newMapPointDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    padding: 4px;
    overflow: hidden;
    float: right;
    display: none;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

input {
    float: right;
    width: 20%;
}

.formDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

#mapSelectorDiv {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    float: left;
    display: block;
    background-color: white;
}

.formButton {
    width: 98%;
    margin: auto;
    font-size: 14px;
}

.formButton:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: darkgrey;
}

#mapSettingButtons {
    float: left;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 150px
}

.mapSelectButton {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 4px;
}

.mapSelectButton:hover {
    cursor: pointer;
    background-color: blue;
    transition: 0.4s;
}

#gameWindow {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    width: fit-content;
    height: fit-content;
    display: inline;
}